{% extends 'blog/parent/main.html' %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block body %}
    <h1 style="padding-left: 1%;" class="blog-post-title">{{ post.post_title }}</h1>
    <p style="padding-left: 2%; padding-top: 1%; padding-right: 1%;" >{{ post.post_body }}</p>
    <hr />
    {% if not post.comments.all %}
        <p style="padding-left: 0.5%;">We have no comment yet</p><hr />
    {% else %}
        <p style="padding-left: 0.5%;">Comments:</p><hr />
        {% for comment in post.comments.all %}
            <h4 style="padding-left: 1%;" class="blog-post-title">{{ comment.author }} said:</h4>
            <p style="padding-left: 2%; padding-top: 1%; padding-right: 1%;" >{{ comment.text }}</p>
            <hr />
        {% endfor %}
    {% endif %}
    <form method="post" style="margin-top: 1.3em; padding: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
    </form>
{% endblock %}