{% extends 'blog/parent/main.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="pt-3"></div>
    <h1 class="ps-3 my-index-h1">Last Posts:</h1>
    {% if latest_post_list %}
    {% for post in latest_post_list %}
    <ul class="list-group ps-5">
        <li class="list-group-item"><a href="/blog/post={{ post.id }}/">{{ post.post_title }}</a></li>
    </ul>
    {% endfor %}
    {% else %}
    <h2 class="ps-3 my-index-h2">!!! No post are available. !!!</h2>
    {% endif %}
</div>
{% endblock %}