{% extends 'blog/parent/main.html' %}
{% block title %}Home{% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="pt-3"></div>
    {% if object_list %}
    <h1 class="text-center my-index-h1"><strong><u>Posts</u></strong></h1>
    <h2 class="text-center"><i class="bi bi-caret-down-fill"></i></h2>
    {% for post in object_list %}
    {% if forloop.counter == 1  or forloop.counter == 4 %}
    <div class="d-flex justify-content-center pt-5">
    <div class="row">
    {% endif %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'blog/image/1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary" href="/blog/post={{ post.id }}/">{{ post.post_title }}</a>
      </div>
    </div>
    {% if forloop.counter == 3 or forloop.counter == 6 %}
    </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h2 class="ps-3 my-index-h2">!!! No post are available. !!!</h2>
    {% endif %}
    <div class="pt-5 mt-5"></div>   
    {% include 'blog/partials/pagination.html' %}
</div>
{% endblock %}